{% extends 'base.html' %}

{% block title %} Blog {% endblock %}

{% block content %}

{% if posts %}
{% for post in posts %}
<br>
<div class="bg-white text-primary text-center p-2 rounded">
    <h3>{{ post.title }}</h3>
    <p>{{ post.description }}</p>
    <hr>
    <p><span class="text-danger">Created at: </span>{{ post.created }} <br> <span class="text-danger">Updated at: </span>{{ post.updated }}</p>
    <hr>
    <a href="{{ post.blog_detail }}" class="btn btn-primary w-100">Show more...</a>
</div>
<br>
{% endfor %}
{% else %}
<h2 align="center">Do Not Exist Any Posts</h2>
{% endif %}

{% endblock %}