{% extends 'base.html' %}

{% block title %} Contact Us {% endblock %}

{% block content %}

<a href="https://github.com/arminemamidp" class="btn btn-primary w-100">Github</a>
<br><br>
<a href="https://instagram.com/this_is_armin" class="btn btn-danger w-100">Instagram</a>
<br><br>
<a href="https://t.me/ArminEmamiProgrammer" class="btn btn-warning w-100">Telegram</a>
<br><br>
<a class="btn btn-success w-100">arminemamiworld@gmail.com</a>
<br><br>
<a class="btn btn-secondary w-100">+98 918-427-6295</a>

{% endblock %}